{% extends 'backend.html' %}
{% block loading %}
{% endblock %}
{% block siderbar %}
<div class="sidebar clearfix">

<ul class="sidebar-panel nav">
  <li class="sidetitle">FEATURE</li>
  <li><a href="{{ url_for('dashbord') }}"><span class="icon color5"><i class="fa fa-home"></i></span>Dashboard<span class="label label-default">2</span></a></li>


</ul>

<ul class="sidebar-panel nav">
  <li class="sidetitle">MANAGEMENT</li>
  <li><a href="{{ url_for('management.manag_meeting') }}"><span class="icon color15"><i class="fa fa-columns"></i></span>Meetings</a></li>
{#  <li><a href="maps.html"><span class="icon color7"><i class="fa fa-map-marker"></i></span>Maps</a></li>#}
</ul>

</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block container %}

{% endblock %}