{% extends 'HRadmin.html' %}

{% block content %}

{% endblock %}

{% block container %}
    <div class="container-padding">


  <!-- Start Row -->
  <div class="row">

    <!-- Start Panel -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-title">
          Default Table
        </div>
        <div class="panel-body table-responsive">
          <p>For basic styling&mdash;light padding and only horizontal dividers&mdash;add the base class <code>.table</code> to any <code>&lt;table&gt;</code>. It may seem super redundant, but given the widespread use of tables for other plugins like calendars and date pickers, we've opted to isolate our custom table styles.</p>

          <table class="table table-hover">
            <thead>
              <tr>
                <td class="text-center"><i class="fa fa-trash"></i></td>
                <td>Order ID</td>
                <td>Product</td>
                <td>Buyer</td>
                <td>Date</td>
                <td>Order Note</td>
                <td>Payment</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox1" type="checkbox"><label for="checkbox1"></label></div></td>
                <td># <b>9652</b></td>
                <td>Kode Gaming Laptop</td>
                <td>John Doe</td>
                <td>12/10/2015</td>
                <td>As we got further and further away, it [the Earth] diminished in size. <br>Finally it shrank to the size of a marble, the most beautiful you can imagine.</td>
                <td>Credit Card</td>
              </tr>
              <tr>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox2" type="checkbox"><label for="checkbox2"></label></div></td>
                <td># <b>1963</b></td>
                <td>New Season Jacket</td>
                <td>Jane Doe</td>
                <td>12/10/2015</td>
                <td>As we got further and further away, it [the Earth] diminished in size. <br>Finally it shrank to the size of a marble, the most beautiful you can imagine.</td>
                <td>Paypal</td>
              </tr>
              <tr>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox3" type="checkbox"><label for="checkbox3"></label></div></td>
                <td># <b>9652</b></td>
                <td>IO Mouse</td>
                <td>Jonathan Doe</td>
                <td>12/10/2015</td>
                <td>As we got further and further away, it [the Earth] diminished in size. <br>Finally it shrank to the size of a marble, the most beautiful you can imagine.</td>
                <td>Credit Card</td>
              </tr>
              <tr>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox4" type="checkbox"><label for="checkbox4"></label></div></td>
                <td># <b>9651</b></td>
                <td>Doe Bike</td>
                <td>Jonathan Doe</td>
                <td>12/10/2015</td>
                <td>As we got further and further away, it [the Earth] diminished in size. <br>Finally it shrank to the size of a marble, the most beautiful you can imagine.</td>
                <td>Credit Card</td>
              </tr>
              <tr>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox5" type="checkbox"><label for="checkbox5"></label></div></td>
                <td># <b>6962</b></td>
                <td>Zets Baseball Bat</td>
                <td>Jonathan Doe</td>
                <td>12/10/2015</td>
                <td>As we got further and further away, it [the Earth] diminished in size. <br>Finally it shrank to the size of a marble, the most beautiful you can imagine.</td>
                <td>Credit Card</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
    </div>
{% endblock %}