{% extends 'HRadmin.html' %}

{% block content %}

{% endblock %}

{% block container %}
    <div class="container-widget">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">

                    <div class="panel-title">
                        Edit Meeting
                    </div>

                    <div class="panel-body">
                        <form class="fieldset-form" action="" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label for="example10" class="form-label">Title</label>
                                    <input type="text" class="form-control" id="example10" value="{{ title }}"
                                           name="title">
                                </div>
                                <div class="form-group">
                                    <label for="input2" class="form-label">Time</label>
                                    <input type="datetime-local" class="form-control" id="input2" name="time" value="{{ time }}">
                                </div>

                                <div class="form-group">
                                    <label for="example10" class="form-label">Title</label>
                                    <input type="text" class="form-control" id="example10" value="{{ location }}"
                                           name="location">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                                <a href="{{ url_for('del_meeting',mid=mid) }}" class="btn btn-danger">Delete</a>
                            </fieldset>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

