<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sign Up</title>

  <!-- ========== Css Files ========== -->
  <link href="static/css/root.css" rel="stylesheet">
  <style type="text/css">
    body{background-image:url('static/img/logobackground.jpg') ;background-size: 150%;}
  </style>
  </head>
  <body>

    <div class="login-form">
      <form action="#">
        <div class="top">
          <img src="static/img/logo.png" alt="icon" style="width:100px;" >
            <h2>Thanks! {{ name }}!</h2>
          <h4>Looking forward to seeing you at the event!</h4>
        </div>
            <a  href="http://aucssnz.com" class="btn btn-default btn-block"> More Info</a>
      </form>
    </div>

</body>
</html>

