<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sign Up</title>

  <!-- ========== Css Files ========== -->
  <link href="static/css/root.css" rel="stylesheet">
  <style type="text/css">
    body{background-image:url('static/img/logobackground.jpg') ;background-size: 150%;}
  </style>
  </head>
  <body>

    <div class="login-form">
      <form action="#">
        <div class="top">
          <img src="static/img/logo.png" alt="icon" style="width:100px;" >
          <h1>股票模拟</h1>
          <h4>Event Sign Up</h4>
        </div>
        <div class="form-area">
          <div class="group">
            <input type="text" class="form-control" placeholder="Your Name">
          </div>

            <div class="group">
            <input type="text" name="email" class="form-control" placeholder="Email">
          </div>

            <div class="group">
            <input type="text" name="num" class="form-control" placeholder="Membership Number">
          </div>

            <div class="group">
            <input type="text" name="wx" class="form-control" placeholder="Wechat ID">
          </div>

            <div class="group">
            <input type="text" name="contact" class="form-control" placeholder="Contact">
          </div>
          <button  type="" class="btn btn-default btn-block">SIGN UP</button>
        </div>
      </form>
      <div class="footer-links row">
        <div class="col-xs-6"><a href="http://aucssnz.com"><i class="fa fa-external-link"></i> About AUCSS</a></div>
      </div>
    </div>

</body>
</html>

