<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sign Up</title>

  <!-- ========== Css Files ========== -->
  <link href="static/css/root.css" rel="stylesheet">
  <style type="text/css">
    body{background:white;}
  </style>
  </head>
  <body>

    <div class="login-form">
      <form action="#">
        <div class="top">
            <h2>活动报名已结束</h2>
          <h4>Sorry, the registration for this event has been closed!</h4>
        </div>
            <a  href="http://aucssnz.com" class="btn btn-default btn-block"> More Info</a>
      </form>
    </div>

</body>
</html>

