{% extends 'backend.html' %}


{% block loading %}
{% endblock %}

{% block siderbar %}
    <div class="sidebar clearfix">

        <ul class="sidebar-panel nav">
            <li class="sidetitle">FEATURE</li>
            <li><a href="{{ url_for('dashbord') }}"><span class="icon color5"><i class="fa fa-home"></i></span>Dashboard</a>
            </li>
            <li><a href="{{ url_for('meeting_leave') }}"><span class="icon color5"><i class="fa fa-group"></i></span>Meeting Leave | 请假</a>
            </li>


        </ul>

        <ul class="sidebar-panel nav">
            <li class="sidetitle">人力资源部</li>
            <li><a href="{{ url_for('manag_meeting') }}"><span class="icon color15"><i class="fa fa-columns"></i></span>Manage
                Meetings | 会议管理</a></li>
            </li>
            <li><a href="{{ url_for('manage_leave') }}"><span class="icon color5"><i class="fa fa-group"></i></span>Leave Request | 请假审批</a>
            </li>
            <li><a href="{{ url_for('notification') }}"><span class="icon color5"><i class="fa fa-bullhorn"></i></span>Notification | 发送通知</a>
            </li>
            <li><a href="{{ url_for('event_signup_info') }}"><span class="icon color5"><i class="fa fa-info"></i></span>Event SignUp | 活动报名</a>
            </li>
        </ul>
    </div>
{% endblock %}



