<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive,"/>
    <title>Register | AUCSS STAFF PLATFORM</title>

    <!-- ========== Css Files ========== -->
    <link href="static/css/root.css" rel="stylesheet">
    <style type="text/css">
        body {
            background: #F5F5F5;
        }
    </style>
</head>
<body>

<div class="login-form">
    <form action="#" method="POST">
        <div class="top">
            <h1>Register</h1>
            <h4>Join to community now !</h4>
        </div>
        <div class="form-area">
            <div class="group">
                <input type="text" class="form-control" placeholder="Username" name="name">
                <i class="fa fa-user"></i>
            </div>
            <div class="group">
                <input type="text" class="form-control" placeholder="E-mail" name="email">
                <i class="fa fa-envelope-o"></i>
            </div>
            <div class="group">
                <input type="password" class="form-control" placeholder="Password" name="password_1">
                <i class="fa fa-key"></i>
            </div>
            <div class="group">
                <input type="password" class="form-control" placeholder="Password again" name="password_2">
                <i class="fa fa-key"></i>
            </div>
            <div class="group">
                <input type="text" class="form-control" placeholder="Invite Code" name="code">
                <i class="fa fa-key"></i>
            </div>
            <button type="submit" class="btn btn-default btn-block">REGISTER NOW</button>
        </div>

    </form>
    <div class="footer-links row">
        <div class="col-xs-6"><a href="{{ url_for('dashbord') }}"><i class="fa fa-sign-in"></i> Login</a></div>
        <div class="col-xs-6 text-right"><a href="#"><i class="fa fa-lock"></i> Forgot password</a></div>
    </div>
</div>

</body>
</html>