{% extends 'PRadmin.html' %}

{% block content %}
    <div class="row presentation">

        <div class="col-lg-8 col-md-6 titles">
            <span class="icon color10-bg"><i class="fa fa-table"></i></span>
            <h1>Sponsor Database</h1>
            <h4>商家数据库</h4>
        </div>

    </div>
{% endblock %}

{% block container %}
    <div class="container-padding">


        <!-- Start Row -->
        <div class="row">

            <!-- Start Panel -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-title">
                        Sponsor Database
                    </div>
                    <div class="panel-body table-responsive">
                        <p>Sponsor data is an important internal secret of AUCSS, which prohibits leakage and unauthorized modification and deletion of data. </p>


                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td>商家名称</td>
                                <td>联系人</td>
                                <td>联系方式</td>
                                <td>联系方式类型</td>
                                <td>负责理事</td>
                                <td>备注</td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
