{% extends 'PRadmin.html' %}

{% block content %}
    <div class="row presentation">

        <div class="col-lg-8 col-md-6 titles">
            <span class="icon color10-bg"><i class="fa fa-table"></i></span>
            <h1>Sponsor Database</h1>
            <h4>商家数据库</h4>
        </div>

    </div>
{% endblock %}

{% block container %}
    <div class="container-padding">


        <!-- Start Row -->
        <div class="row">

            <!-- Start Panel -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-title">
                        Sponsor Database
                    </div>
                    <div class="panel-body table-responsive">
                        <p>Sponsor data is an important internal secret of AUCSS, which prohibits leakage and
                            unauthorized modification and deletion of data. </p>
                        <a href="#" data-toggle="modal" data-target="#myModal">
                            <button type="button" class="btn btn-option3 btn-xs"><i class="fa fa-plus"></i>ADD</button>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">ADD MEETING</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" method="post">
                                            <div class="panel-body">
                                                <form>
                                                    <div class="form-group">
                                                        <label for="input1" class="form-label">商家名称</label>
                                                        <input type="text" class="form-control" id="input1" name="sponsor_name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="input2" class="form-label">地址</label>
                                                        <input type="text" class="form-control" id="input2" name="sponsor_add">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="input3" class="form-label">联系人</label>
                                                        <input type="text" class="form-control" id="input3" name="contact_name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="input3" class="form-label">联系方式</label>
                                                        <input type="text" class="form-control" id="input3" name="contact">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="input3" class="form-label">联系方式类型</label>
                                                        <input type="text" class="form-control" id="input3" name="contact_type">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="input3" class="form-label">负责理事</label>
                                                        <input type="text" class="form-control" id="input3" name="staff">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label">备注</label>
                                                        <textarea class="form-control" rows="3"
                                                                  value=‘无’ id="textarea1" name="sponsor_comment"></textarea>
                                                    </div>


                                                    <button type="button" class="btn btn-white" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" class="btn btn-default">Add
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                请认真填写每一项，若没有信息请填写‘无’！
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td>商家名称</td>
                                <td>地址</td>
                                <td>联系人</td>
                                <td>联系方式</td>
                                <td>联系方式类型</td>
                                <td>负责理事</td>
                                <td>备注</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in sponsors %}
                                <tr>
                                    <td>{{ i[1] }}</td>
                                    <td>{{ i[2] }}</td>
                                    <td>{{ i[3] }}</td>
                                    <td>{{ i[4] }}</td>
                                    <td>{{ i[5] }}</td>
                                    <td>{{ i[6] }}</td>
                                    <td>{{ i[7] }}</td>
                                     <td><a href="{{ url_for('edit_sponsor',sid=i[0]) }}" class="btn btn-primary"><i class="fa fa-arrows"></i>Edit</a></td>

                                </tr>
                                </a>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
